doctype html
html
  head
    meta(charset="UTF-8")
    meta(content="width=device-width,initial-scale=1,user-scalable=0" name="viewport")
    meta(content="Herman Niño M. Luna IV" name="author")
    title theFourth Creative Design

    link(href="css/styles.css" rel="stylesheet")

  body
    section.first-section#first-section
      .logo
        p.the the
        p.fourth fourth

      .centered-text 
        p Hi, I'm Herm. A motivated programmer residing in Manila, Philippines. I have a deep passion in Web and Android Development.
        a Actively looking for job. Hire me.
        
      .buttons
        button View my work
        button Let's talk?

    section.second-section#second-section
      div.half-absolute
        img(src="images/kd.png")
        
      div.half
        .second-half
          .half-content
            p.content-title Herm Luna mcsh16
            
            .content 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus risus nec justo varius, nec molestie est semper. Praesent eu porttitor dolor, vitae tristique eros. Pellentesque lobortis elementum varius. Donec faucibus ante vel arcu rutrum tincidunt. Vivamus vitae mi non velit facilisis sodales ac at nulla. Mauris facilisis erat urna, non placerat tellus mollis ac. Quisque ullamcorper ut risus sit amet aliquet. Duis ultricies turpis metus.
              p Donec maximus porttitor pellentesque. Vivamus vehicula massa varius eros tristique, a mattis magna consectetur. Nulla eleifend mi ac ultricies mattis. Aenean euismod orci ut imperdiet aliquet. Pellentesque lorem nibh, interdum nec vestibulum et, dictum lacinia libero. Fusce porttitor euismod sapien, consequat venenatis ante efficitur at. Donec at ullamcorper diam, non efficitur nunc. Duis vel ante risus. Sed eu feugiat sem, quis tempus orci. Proin in neque at odio ullamcorper semper. Cras a magna congue, euismod velit et, vestibulum purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec quis luctus dolor, eget varius sem. Donec ultricies tempus dui, ut euismod magna congue ut. Morbi et augue id velit commodo finibus.
              
          .half-content
            p.content-sub-title Language Proficiency
        
        
            p Duis quis scelerisque justo. Sed fermentum vitae est placerat viverra. Donec ultrices eros sit amet odio tempor porta. Sed quis faucibus justo. Etiam pretium ante nec commodo sodales. Aenean ante ex, molestie vel laoreet id, vulputate ut diam. Sed condimentum hendrerit mauris sed vulputate. Phasellus id quam eleifend sem mollis vestibulum a eu felis. Duis eu sollicitudin elit, eget gravida leo. Quisque felis est, pretium sit amet porttitor et, eleifend id nunc. Quisque et augue libero. Nulla hendrerit ante enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat arcu non justo porta eleifend.
            p In rutrum libero ante, commodo convallis dui placerat quis. Donec dignissim magna eu orci malesuada rhoncus. In non libero vitae nibh elementum porttitor vel nec leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean semper enim lectus, non malesuada velit lacinia a. Nullam porttitor varius erat, id dapibus massa ultrices ut. Fusce blandit nisi venenatis, condimentum mi convallis, interdum eros.
            p Etiam molestie sapien sed orci elementum, id ornare lacus congue. Integer vehicula pretium faucibus. Ut non vestibulum ante. Donec id nisi pellentesque, faucibus diam porta, sollicitudin ligula. Proin ipsum ligula, faucibus sit amet convallis a, cursus nec nibh. Pellentesque ac leo laoreet, convallis tellus quis, accumsan orci. Pellentesque quis odio risus. Vivamus vel leo mollis, fermentum tortor at, malesuada lacus. Quisque pharetra ipsum eu neque feugiat, eu varius lectus suscipit. Sed id consectetur ante. Vestibulum rutrum, est eu laoreet condimentum, leo tortor tristique est, vitae viverra ex nunc in purus. Praesent tincidunt sapien in ipsum rutrum, vel suscipit eros ullamcorper. Pellentesque sit amet lectus et diam rhoncus finibus eget ac ex. Sed tincidunt lobortis efficitur.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus risus nec justo varius, nec molestie est semper. Praesent eu porttitor dolor, vitae tristique eros. Pellentesque lobortis elementum varius. Donec faucibus ante vel arcu rutrum tincidunt. Vivamus vitae mi non velit facilisis sodales ac at nulla. Mauris facilisis erat urna, non placerat tellus mollis ac. Quisque ullamcorper ut risus sit amet aliquet. Duis ultricies turpis metus.
            p Donec maximus porttitor pellentesque. Vivamus vehicula massa varius eros tristique, a mattis magna consectetur. Nulla eleifend mi ac ultricies mattis. Aenean euismod orci ut imperdiet aliquet. Pellentesque lorem nibh, interdum nec vestibulum et, dictum lacinia libero. Fusce porttitor euismod sapien, consequat venenatis ante efficitur at. Donec at ullamcorper diam, non efficitur nunc. Duis vel ante risus. Sed eu feugiat sem, quis tempus orci. Proin in neque at odio ullamcorper semper. Cras a magna congue, euismod velit et, vestibulum purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec quis luctus dolor, eget varius sem. Donec ultricies tempus dui, ut euismod magna congue ut. Morbi et augue id velit commodo finibus.
            p Duis quis scelerisque justo. Sed fermentum vitae est placerat viverra. Donec ultrices eros sit amet odio tempor porta. Sed quis faucibus justo. Etiam pretium ante nec commodo sodales. Aenean ante ex, molestie vel laoreet id, vulputate ut diam. Sed condimentum hendrerit mauris sed vulputate. Phasellus id quam eleifend sem mollis vestibulum a eu felis. Duis eu sollicitudin elit, eget gravida leo. Quisque felis est, pretium sit amet porttitor et, eleifend id nunc. Quisque et augue libero. Nulla hendrerit ante enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat arcu non justo porta eleifend.
            p In rutrum libero ante, commodo convallis dui placerat quis. Donec dignissim magna eu orci malesuada rhoncus. In non libero vitae nibh elementum porttitor vel nec leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean semper enim lectus, non malesuada velit lacinia a. Nullam porttitor varius erat, id dapibus massa ultrices ut. Fusce blandit nisi venenatis, condimentum mi convallis, interdum eros.
            p Etiam molestie sapien sed orci elementum, id ornare lacus congue. Integer vehicula pretium faucibus. Ut non vestibulum ante. Donec id nisi pellentesque, faucibus diam porta, sollicitudin ligula. Proin ipsum ligula, faucibus sit amet convallis a, cursus nec nibh. Pellentesque ac leo laoreet, convallis tellus quis, accumsan orci. Pellentesque quis odio risus. Vivamus vel leo mollis, fermentum tortor at, malesuada lacus. Quisque pharetra ipsum eu neque feugiat, eu varius lectus suscipit. Sed id consectetur ante. Vestibulum rutrum, est eu laoreet condimentum, leo tortor tristique est, vitae viverra ex nunc in purus. Praesent tincidunt sapien in ipsum rutrum, vel suscipit eros ullamcorper. Pellentesque sit amet lectus et diam rhoncus finibus eget ac ex. Sed tincidunt lobortis efficitur.
      
    section.third-section#third-section
    
    
    script(src="js/tweenmax.js")
    script(src="js/app.js")
      
